// Here you can add other styles
.profile-nav-link {
    color: #ff5722 !important;
    background-color: #fff8f5 !important;
  }
  
  .profile-nav-link:hover {
    color: #e64a19 !important;
    background-color: #ffebee !important;
  }